body{
    background:rgb(212, 212, 102);
    display:flex;
}
.container{
    
    width:95%;
    height:100vh;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.counter{
   background:rgba(235, 225, 225, 0.966);
   border:1px solid rgb(175, 142, 142);
   width:70%;
   padding:10px;
   text-align:center;
   border-radius:6px;
}
.counter:hover{
    box-shadow: 2px 2px rgb(185, 109, 109);
}
.counter #get{
    
    font-size:10rem;
    margin:0px;
    margin-bottom: 4px;
}
.btn{
  width:fit-content;
  padding:5px;
  border-radius: 5px;
  background-color:rgb(182, 139, 139);
  cursor: pointer;
  margin-bottom: 10px;
}
.btn:hover{
    background:rgb(72, 202, 72);
}
